.filter-div {
	background-color: white;
	width: 100%;
	min-height: 70vh;
	border: 2px solid #e7e9ef;
	padding: 0 15px;
}

.inp-icon {
	color: limegreen !important;
}

.m5-bottom {
	margin-bottom: 12%;
}

.checkbox-row {
	display: flex;
	align-items: center;
}