.main {
	margin: 2% 2%;
}

.light-gray {
	color: #9ca4b3;
}

.lime-green {
	color: limegreen;
}

input[type=text] {
	height: 30px;
	padding: 5px 10px;
}

.MuiInputBase-root {
	background-color: #f8f9fc !important;
}

.MuiOutlinedInput-notchedOutline {
	border-color: #e7e9ef !important;
}